<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>L</key>
		<integer>0</integer>
		<key>W</key>
		<integer>-218</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>a</key>
		<integer>-64</integer>
		<key>c</key>
		<integer>-64</integer>
		<key>d</key>
		<integer>-64</integer>
		<key>e</key>
		<integer>-64</integer>
		<key>g</key>
		<integer>-64</integer>
		<key>o</key>
		<integer>-64</integer>
		<key>q</key>
		<integer>-64</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-359</integer>
		<key>Y</key>
		<integer>-290</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>Y</key>
		<integer>-38</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-158</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-326</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-138</integer>
		<key>a</key>
		<integer>-256</integer>
		<key>c</key>
		<integer>-256</integer>
		<key>d</key>
		<integer>-256</integer>
		<key>e</key>
		<integer>-108</integer>
		<key>g</key>
		<integer>-256</integer>
		<key>o</key>
		<integer>-256</integer>
		<key>q</key>
		<integer>-256</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>a</key>
		<integer>-128</integer>
		<key>c</key>
		<integer>-128</integer>
		<key>d</key>
		<integer>-128</integer>
		<key>e</key>
		<integer>-128</integer>
		<key>g</key>
		<integer>-128</integer>
		<key>o</key>
		<integer>-128</integer>
		<key>q</key>
		<integer>-128</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-296</integer>
		<key>O</key>
		<integer>0</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>w</key>
		<integer>-64</integer>
		<key>x</key>
		<integer>-96</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>w</key>
		<integer>-64</integer>
		<key>x</key>
		<integer>-96</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>a</key>
		<integer>-96</integer>
		<key>c</key>
		<integer>-96</integer>
		<key>d</key>
		<integer>-96</integer>
		<key>e</key>
		<integer>-36</integer>
		<key>g</key>
		<integer>-96</integer>
		<key>o</key>
		<integer>-96</integer>
		<key>q</key>
		<integer>-96</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>v</key>
		<integer>-64</integer>
		<key>w</key>
		<integer>-64</integer>
		<key>y</key>
		<integer>-64</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>w</key>
		<integer>-64</integer>
		<key>x</key>
		<integer>-96</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>w</key>
		<integer>-64</integer>
		<key>x</key>
		<integer>-96</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>-64</integer>
		<key>c</key>
		<integer>-64</integer>
		<key>d</key>
		<integer>-64</integer>
		<key>e</key>
		<integer>-64</integer>
		<key>g</key>
		<integer>-64</integer>
		<key>o</key>
		<integer>-64</integer>
		<key>q</key>
		<integer>-64</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-64</integer>
		<key>c</key>
		<integer>-64</integer>
		<key>d</key>
		<integer>-64</integer>
		<key>e</key>
		<integer>-64</integer>
		<key>g</key>
		<integer>-64</integer>
		<key>o</key>
		<integer>-64</integer>
		<key>q</key>
		<integer>-64</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-64</integer>
		<key>c</key>
		<integer>-64</integer>
		<key>d</key>
		<integer>-64</integer>
		<key>e</key>
		<integer>-64</integer>
		<key>g</key>
		<integer>-64</integer>
		<key>o</key>
		<integer>-64</integer>
		<key>q</key>
		<integer>-64</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>a</key>
		<integer>-96</integer>
		<key>c</key>
		<integer>-96</integer>
		<key>d</key>
		<integer>-96</integer>
		<key>e</key>
		<integer>-96</integer>
		<key>g</key>
		<integer>-96</integer>
		<key>o</key>
		<integer>-96</integer>
		<key>q</key>
		<integer>-96</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-64</integer>
		<key>c</key>
		<integer>-64</integer>
		<key>d</key>
		<integer>-64</integer>
		<key>e</key>
		<integer>-64</integer>
		<key>g</key>
		<integer>-64</integer>
		<key>o</key>
		<integer>-64</integer>
		<key>q</key>
		<integer>-64</integer>
	</dict>
</dict>
</plist>
